Language: Cpp

BasedOnStyle: google

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentWidth: 4
ColumnLimit: 120